
.item--zec .auto-group-ppq6-syJ {
  box-sizing: border-box;
  padding: 2.088rem 2.984rem 1.433rem 1.898rem;
  width: 71.1735rem;
  height: 5.8204rem;
  display: flex;
  align-items: center;
  box-shadow: 0 0.2531rem 0.2531rem rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
}
.item--zec .auto-group-ppq6-syJ .item--ZbE {
  width: 80%;
    /* margin-right: 50.7919rem; */
    font-size: 1.8347rem;
    font-weight: 700;
    line-height: 1.2125;
    color: #000000;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
}
.item--zec .auto-group-ppq6-syJ .item--sbv {
  margin-top: 0.2388rem;
  font-size: 1.1388rem;
  font-weight: 300;
  line-height: 1.2125;
  color: #7a7373;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}

.item--zec .auto-group-fkmn-YCG .button-em6 {
  margin-right: 16.0061rem;
  width: 11.1347rem;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.3918rem;
  font-weight: 500;
  line-height: 1.0909091096;
  letter-spacing: 0.0139rem;
  text-transform: uppercase;
  color: #ffffff;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  box-shadow: 0 0.2531rem 0.2531rem rgba(0, 0, 0, 0.25);
  background-color: #00b074;
  border-radius: 2.151rem;
  flex-shrink: 0;
}
.item--zec .auto-group-fkmn-YCG .button-hDa {
  width: 11.1347rem;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.3918rem;
  font-weight: 500;
  line-height: 1.0909091096;
  letter-spacing: 0.0139rem;
  text-transform: uppercase;
  color: #00b074;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.0633rem #00b074;
  box-sizing: border-box;
  box-shadow: 0 0.2531rem 0.2531rem rgba(0, 0, 0, 0.25);
  border-radius: 2.151rem;
  flex-shrink: 0;
}
.item--zec .auto-group-i9yr-khe {
  width: 71.3rem;
  height: 3.0367rem;
  display: flex;
  align-items: flex-end;
}
.item--zec .auto-group-i9yr-khe .button-Gvt {
  margin: -0.257rem 44.452rem 0rem 0rem;
  box-sizing: border-box;
  padding: 0.38rem 1.012rem 0.282rem 1.012rem;
  display: flex;
  align-items: center;
  border: solid 0.0633rem #00b074;
  border-radius: 2.151rem;
  flex-shrink: 0;
}

/*이미지*/
.item--zec .auto-group-i9yr-khe .button-Gvt .vector-36-stroke-C3r {
  margin: 0rem 1.14rem 0.082rem 0rem;
  width: 1.7082rem;
  height: 1.2653rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item--zec .auto-group-i9yr-khe .button-Gvt .text-label-i2C {
  text-align: right;
  display: flex;
  font-size: 1.3918rem;
  font-weight: 500;
  line-height: 1.0909091096;
  letter-spacing: 0.0139rem;
  text-transform: uppercase;
  color: #00b074;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--zec .auto-group-i9yr-khe .group-5-1X6 {
  margin-right: 0.6327rem;
  width: 7.9714rem;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.3918rem;
  font-weight: 400;
  line-height: 0.9090908904;
  color: #ffffff;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  background-color: #00b074;
  border-radius: 3.3531rem;
  flex-shrink: 0;
}
.item--zec .auto-group-i9yr-khe .group-6-VSG {
  width: 7.9714rem;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.3918rem;
  font-weight: 400;
  line-height: 0.9090908904;
  color: #00b074;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.0633rem #00b074;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 3.3531rem;
  flex-shrink: 0;
}
.item--zec .auto-group-mwc8-wp4 {
  box-sizing: border-box;
  width: 71.1735rem;
  height: 36.3776rem;
  border: solid 0.0633rem #000000;
  background-color: #ffffff;
}

.item--zec .frame-49-bJG {
  width: 71.1735rem;
  height: 13.4122rem;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.item--zec .frame-49-bJG .component-15-Wg8 {
  box-sizing: border-box;
  padding: 0.508rem 0rem 0rem 0.095rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  flex-shrink: 0;
}
.item--zec .frame-49-bJG .component-15-Wg8 .auto-group-4p8g-eXS {
  margin: 0rem 0rem 0.445rem 1.36rem;
  width: 23.8694rem;
  height: 2.4rem;
  position: relative;
  flex-shrink: 0;
}
.item--zec .frame-49-bJG .component-15-Wg8 .auto-group-4p8g-eXS .button-yZi {
  width: 5.5674rem;
  height: 2.4rem;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.1rem;
  font-weight: 500;
  line-height: 1.7142857143;
  letter-spacing: 0.014rem;
  text-transform: uppercase;
  color: #ffffff;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  background-color: #00b074;
  border-radius: 0.2531rem;
}
.item--zec .frame-49-bJG .component-15-Wg8 .auto-group-4p8g-eXS .jdk-11020windows-x64binexe-s9J {
  width: 20.8rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  margin-left: 4rem;
  font-weight: 400;
  line-height: 1.4285714286;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.item--zec .frame-49-bJG .component-15-Wg8 .vector-142-YFS {
  width: 71.0786rem;
  height: 0;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item--zec .frame-49-bJG .component-16-UPz {
  margin-bottom: 0rem;
  box-sizing: border-box;
  padding: 0.508rem 0rem 0rem 0.095rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  flex-shrink: 0;
}
.item--zec .frame-49-bJG .component-16-UPz .auto-group-us9e-Cat {
  margin: 0rem 0rem 0.445rem 1.36rem;
  width: 23.8694rem;
  height: 2.4rem;
  position: relative;
  flex-shrink: 0;
}
.item--zec .frame-49-bJG .component-16-UPz .auto-group-us9e-Cat .button-jKv {
  width: 5.5674rem;
  height: 2.4rem;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.7142857143;
  letter-spacing: 0.014rem;
  text-transform: uppercase;
  color: #ffffff;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  background-color: #00b074;
  border-radius: 0.2531rem;
}
.item--zec .frame-49-bJG .component-16-UPz .auto-group-us9e-Cat .jdk-11020windows-x64binexe-DF6 {
  width: 20.8rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.4285714286;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.item--zec .frame-49-bJG .component-16-UPz .vector-142-VCc {
  width: 71.0786rem;
  height: 0;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item--zec .frame-49-bJG .component-17-dy2 {
  box-sizing: border-box;
  padding: 0.508rem 0rem 0rem 0.095rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  flex-shrink: 0;
}
.item--zec .frame-49-bJG .component-17-dy2 .auto-group-qh5a-ATA {
  margin: 0rem 0rem 0.445rem 1.36rem;
  width: 23.8694rem;
  height: 2.4rem;
  position: relative;
  flex-shrink: 0;
}
.item--zec .frame-49-bJG .component-17-dy2 .auto-group-qh5a-ATA .button-hCC {
  width: 5.5674rem;
  height: 2.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.7142857143;
  letter-spacing: 0.014rem;
  text-transform: uppercase;
  color: #ffffff;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  background-color: #00b074;
  border-radius: 0.2531rem;
}
.item--zec .frame-49-bJG .component-17-dy2 .auto-group-qh5a-ATA .jdk-11020windows-x64binexe-aFz {
  width: 20.8rem;
  height: 2rem;
  position: absolute;
  left: 3.0694rem;
  top: 0.0908rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.4285714286;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.item--zec .frame-49-bJG .component-17-dy2 .vector-142-Tqa {
  width: 71.0786rem;
  height: 0;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item--zec .frame-49-bJG .component-18-DJx {
  box-sizing: border-box;
  padding: 0.508rem 0rem 0rem 0.095rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  flex-shrink: 0;
}
.item--zec .frame-49-bJG .component-18-DJx .auto-group-fa9n-LuN {
  margin: 0rem 0rem 0.445rem 1.36rem;
  width: 23.8694rem;
  height: 2.4rem;
  position: relative;
  flex-shrink: 0;
}
.item--zec .frame-49-bJG .component-18-DJx .auto-group-fa9n-LuN .button-fwe {
  width: 5.5674rem;
  height: 2.4rem;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.7142857143;
  letter-spacing: 0.014rem;
  text-transform: uppercase;
  color: #ffffff;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  background-color: #00b074;
  border-radius: 0.2531rem;
}
.item--zec .frame-49-bJG .component-18-DJx .auto-group-fa9n-LuN .jdk-11020windows-x64binexe-A7i {
  width: 20.8rem;
  height: 2rem;
  position: absolute;
  left: 3.0694rem;
  top: 0.0908rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.4285714286;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.item--zec .frame-49-bJG .component-18-DJx .vector-142-3xC {
  width: 71.0786rem;
  height: 0;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item--zec .auto-group-3wvt-bip {
  box-sizing: border-box;
  padding: 1.1rem 3.62rem 1.53rem 6.9rem;
  width: 143.6914rem;
  height: 7.9845rem;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  background-color: #ffffff;
}
.item--zec .auto-group-3wvt-bip .item-1-Ga4 {
  margin: 0.146rem 39.776rem 0rem 0rem;
  width: 21.1236rem;
  height: 3.5rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.item--zec .auto-group-3wvt-bip .join-MbW {
  margin: 0.103rem 6.764rem 0rem 0rem;
  display: flex;
  font-size: 2.2384rem;
  font-weight: 300;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--zec .auto-group-3wvt-bip .login-51i {
  margin: 0.103rem 7.5rem 0rem 0rem;
  display: flex;
  font-size: 2.2384rem;
  font-weight: 300;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--zec .auto-group-3wvt-bip .notice-BaY {
  margin: 0.081rem 7.7rem 0rem 0rem;
  display: flex;
  font-size: 2.2384rem;
  font-weight: 300;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--zec .auto-group-3wvt-bip .list-6hW {
  margin: 0.103rem 6.6rem 0rem 0rem;
  display: flex;
  font-size: 2.2384rem;
  font-weight: 300;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--zec .auto-group-3wvt-bip .talk-Dn8 {
  margin: 0rem 4.536rem 0.579rem 0rem;
  display: flex;
  font-size: 2.2384rem;
  font-weight: 300;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--zec .auto-group-3wvt-bip .talk-M7e {
  margin: 0rem 5.087rem 0.103rem 0rem;
  width: 4.8132rem;
  height: 4.2447rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item--zec .auto-group-3wvt-bip .item--fPE {
  box-sizing: border-box;
  padding: 0.447rem 0.761rem 0.445rem 0.761rem;
  height: 100%;
  background-color: rgba(255, 255, 255, 0);
  flex-shrink: 0;
}
.item--zec .auto-group-3wvt-bip .item--fPE .vector-zAc {
  width: 4.5489rem;
  height: 4.4622rem;
  object-fit: contain;
  vertical-align: top;
}


div#insert_notice {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}


/*제목div*/
.item--zec .auto-group-jktr-5SQ {
	box-sizing: border-box;
    padding: 1.012rem 1.708rem 0.978rem 1.708rem;
    width: 71.1735rem;
    height: 7.2898rem;
    display: flex;
    font-size: 1.202rem;
    font-family: Roboto, 'Source Sans Pro';
    white-space: nowrap;
    border: solid 0.0633rem #c3bbbb;
    background-color: #ffffff;
    box-shadow: 0 0.2792rem 0.2792rem rgba(0, 0, 0, 0.25);
    margin-bottom: 9px;
}

/*제목 input 태그 */
input#insert_title {
    font-size: large;
    font-weight: 300;
    border: none;
}

/*내용 input 태그 */
textarea#insert_contents {
    margin: 0px;
    width: 708px;
    height: 360px;
    resize: none;
    border: none;
    font-size: 14px;
}

/*첨부파일 전체 div */
div#attachefile_div {
    width: 708px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
}

/*첨부파일 추가 버튼 div  */
div#attachefile_div  > div:first-child {
    margin-left: auto;
}

/*첨부파일 추가 버튼 */
.item--zec .button-89n {
    height: 20px;
    width: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.1rem;
    font-weight: 500;
    line-height: 1.7142857143;
    letter-spacing: 0.014rem;
    text-transform: uppercase;
    color: #ffffff;
    font-family: Roboto, 'Source Sans Pro';
    white-space: nowrap;
    background-color: #00b074;
    border-radius: 10px;
    margin-top: 10px;
    padding: 5px;
    cursor: pointer;
}
/*청부파일 input태그 div*/
.attachefile {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

/*청부파일 input태그*/
input[type="file"] {
    margin-bottom: 10px;
}

/*등록하기 취소하기 버튼 div*/
.item--zec .auto-group-fkmn-YCG {
    width: 780px;
    height: 4.1123rem;
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    margin-top: 10px;
}
