
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
  margin:0 auto;
}.item--mGL {
  box-sizing: border-box;
  /*padding-bottom: 16.6587rem;*/
  top: 150px;
  margin-bottom: 283px;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}
.item--mGL .auto-group-jygc-s4U {
  margin: 0rem 0.309rem 8.616rem 0rem;
  box-sizing: border-box;
  padding: 1.1rem 3.62rem 1.53rem 6.9rem;
  height: 7.9845rem;
  display: flex;
  align-items: center;
  background-color: #ffffff;
  flex-shrink: 0;
}
.item--mGL .auto-group-jygc-s4U .item-1-MEY {
  margin: 0.146rem 39.776rem 0rem 0rem;
  width: 21.1236rem;
  height: 3.5rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.item--mGL .auto-group-jygc-s4U .join-SFz {
  margin: 0.103rem 6.764rem 0rem 0rem;
  display: flex;
  font-size: 2.2384rem;
  font-weight: 300;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--mGL .auto-group-jygc-s4U .login-k1n {
  margin: 0.103rem 7.5rem 0rem 0rem;
  display: flex;
  font-size: 2.2384rem;
  font-weight: 300;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--mGL .auto-group-jygc-s4U .notice-GVv {
  margin: 0.081rem 7.7rem 0rem 0rem;
  display: flex;
  font-size: 2.2384rem;
  font-weight: 300;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--mGL .auto-group-jygc-s4U .list-zRv {
  margin: 0.103rem 6.6rem 0rem 0rem;
  display: flex;
  font-size: 2.2384rem;
  font-weight: 300;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--mGL .auto-group-jygc-s4U .talk-uYt {
  margin: 0rem 4.536rem 0.579rem 0rem;
  display: flex;
  font-size: 2.2384rem;
  font-weight: 300;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--mGL .auto-group-jygc-s4U .talk-S32 {
  margin: 0rem 5.087rem 0.103rem 0rem;
  width: 4.8132rem;
  height: 4.2447rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item--mGL .auto-group-jygc-s4U .item--xXA {
  box-sizing: border-box;
  padding: 0.447rem 0.761rem 0.445rem 0.761rem;
  height: 100%;
  background-color: rgba(255, 255, 255, 0);
  flex-shrink: 0;
}
.item--mGL .auto-group-jygc-s4U .item--xXA .vector-gxx {
  width: 4.5489rem;
  height: 4.4622rem;
  object-fit: contain;
  vertical-align: top;
}
.item--mGL .auto-group-toqk-R9r {
  margin: 0rem 39.82rem 0.661rem 36.776rem;
  width: calc(100% - 76.5963rem);
  height: 2.8834rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.item--mGL .auto-group-toqk-R9r .button-8a4 {
	margin: 0.36rem 67.911rem 0.375rem 0rem;
    box-sizing: border-box;
    padding: 0.36rem 0.961rem 0.287rem 0.785rem;
    height: calc(100% - 0.7359rem);
    display: flex;
    align-items: center;
    border: solid 0.0601rem #00b074;
    border-radius: 2.0424rem;
    flex-shrink: 0;
}
.item--mGL .auto-group-toqk-R9r .button-8a4 .vector-36-stroke-Ed6 {
  margin: 0rem 1.086rem 0.058rem 0rem;
  width: 1.6219rem;
  height: 1.2014rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item--mGL .auto-group-toqk-R9r .button-8a4 .text-label-MSp {
  text-align: right;
  display: flex;
  font-size: 1.3216rem;
  font-weight: 500;
  line-height: 1.0909090712;
  letter-spacing: 0.0132rem;
  text-transform: uppercase;
  color: #00b074;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--mGL .auto-group-toqk-R9r .group-5-qsn {
  margin-right: 0.6007rem;
  width: 7.5689rem;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.3216rem;
  font-weight: 400;
  line-height: 0.9090909288;
  color: #ffffff;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  background-color: #00b074;
  border-radius: 3.1837rem;
  flex-shrink: 0;
}
.item--mGL .auto-group-toqk-R9r .group-6-igg {
  width: 7.5689rem;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.3216rem;
  font-weight: 400;
  line-height: 0.9090909288;
  color: #00b074;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.0601rem #00b074;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 3.1837rem;
  flex-shrink: 0;
}
.item--mGL .auto-group-fekx-BKN {
    margin: 0rem 39.32rem 1.021rem 36.6rem;
    box-sizing: border-box;
    padding: 1.982rem 3.731rem 2.024rem 1.982rem;
    width: calc(100% - 75.8205rem);
    display: flex;
    align-items: center;
    box-shadow: 0 0.2403rem 0.2403rem rgba(0, 0, 0, 0.25);
    background-color: #ffffff;
    flex-shrink: 0;
}

#contents {
    clear: both;
    margin-left: 8px;
}
.item--mGL .auto-group-fekx-BKN .item--shz {
  width: 80%;
  font-size: 1.3216rem;
  font-weight: 400;
  line-height: 1.0909089991;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--mGL .auto-group-fekx-BKN .item--jEQ {
  margin-top: 0.1201rem;
  font-size: 1.0813rem;
  font-weight: 300;
  line-height: 1.2125;
  color: #7a7373;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--mGL .group-20-ok4 {
  height: 459.45px;
  margin: 0rem 39.4rem 1.021rem 36.6rem;
  box-sizing: border-box;
  padding: 1.982rem 1.322rem 0.531rem 1.322rem;
  width: calc(100% - 76rem);
  display: flex;
  flex-direction: column;
  box-shadow: 0 0.2403rem 0.2403rem rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
  flex-shrink: 0;
}
.item--mGL .group-20-ok4 .item--v3z {
  margin: 0px;
  font-size: 1.2rem;
  font-weight: 100;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  flex-shrink: 0;
}
.item--mGL .group-20-ok4 .location-3np {
  width: 1.0813rem;
  height: 1.756rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}

.item--mGL .frame-45-NKJ .component-9-5zQ {
  width: 100%;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  flex-shrink: 0;
}
.item--mGL .frame-45-NKJ .component-9-5zQ .auto-group-awon-EcQ {
  width: 100%;
  height: 2.583rem;
  position: relative;
  flex-shrink: 0;
}

.item--mGL .frame-45-NKJ .component-9-5zQ .auto-group-awon-EcQ .attach-uiY {
  width: 0.6362rem;
  height: 1.1714rem;
  position: absolute;
  left: 2.0653rem;
  top: 0.7359rem;
  object-fit: contain;
  vertical-align: top;
}

.item--mGL .frame-45-NKJ .component-9-5zQ .vector-50-uMA {
  width: 67.5795rem;
  height: 0;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item--mGL .frame-45-NKJ .component-10-eJk {
  width: 100%;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  flex-shrink: 0;
}
.item--mGL .frame-45-NKJ .component-10-eJk .auto-group-t2al-1QC {
  width: 100%;
  height: 2.583rem;
  position: relative;
  flex-shrink: 0;
}
.item--mGL .frame-45-NKJ .component-10-eJk .auto-group-t2al-1QC .rectangle-169-xqE {
  width: 67.5795rem;
  height: 2.583rem;
  position: absolute;
  left: 0.2156rem;
  top: 0;
  background-color: #ffffff;
}
.item--mGL .frame-45-NKJ .component-10-eJk .auto-group-t2al-1QC .attach-Ju6 {
  width: 0.6362rem;
  height: 1.1714rem;
  position: absolute;
  left: 2.0653rem;
  top: 0.7359rem;
  object-fit: contain;
  vertical-align: top;
}
.item--mGL .frame-45-NKJ .component-10-eJk .auto-group-t2al-1QC .jdk-11020windows-x64binexe-3bn {
  width: 25rem;
  height: 2rem;
  position: absolute;
  left: 0;
  top: 0.3708rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.4285714286;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.item--mGL .frame-45-NKJ .component-10-eJk .vector-50-jjW {
  width: 67.5795rem;
  height: 0;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item--mGL .frame-45-NKJ .component-11-gue {
  width: 100%;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  flex-shrink: 0;
}
.item--mGL .frame-45-NKJ .component-11-gue .auto-group-rjnk-Stp {
  width: 100%;
  height: 2.583rem;
  position: relative;
  flex-shrink: 0;
}
.item--mGL .frame-45-NKJ .component-11-gue .auto-group-rjnk-Stp .rectangle-169-Csz {
  width: 67.5795rem;
  height: 2.583rem;
  position: absolute;
  left: 0.2156rem;
  top: 0;
  background-color: #ffffff;
}
.item--mGL .frame-45-NKJ .component-11-gue .auto-group-rjnk-Stp .attach-k8p {
  width: 0.6362rem;
  height: 1.1714rem;
  position: absolute;
  left: 2.0653rem;
  top: 0.7359rem;
  object-fit: contain;
  vertical-align: top;
}
.item--mGL .frame-45-NKJ .component-11-gue .auto-group-rjnk-Stp .jdk-11020windows-x64binexe-g2U {
  width: 25rem;
  height: 2rem;
  position: absolute;
  left: 0;
  top: 0.3708rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.4285714286;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.item--mGL .frame-45-NKJ .component-11-gue .vector-50-AiL {
  width: 67.5795rem;
  height: 0;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item--mGL .frame-45-NKJ .component-12-KLL {
  width: 100%;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  flex-shrink: 0;
}
.item--mGL .frame-45-NKJ .component-12-KLL .auto-group-tcde-gRn {
  width: 100%;
  height: 2.583rem;
  position: relative;
  flex-shrink: 0;
}
.item--mGL .frame-45-NKJ .component-12-KLL .auto-group-tcde-gRn .rectangle-169-drp {
  width: 67.5795rem;
  height: 2.583rem;
  position: absolute;
  left: 0.2156rem;
  top: 0;
  background-color: #ffffff;
}
.item--mGL .frame-45-NKJ .component-12-KLL .auto-group-tcde-gRn .attach-P5J {
  width: 0.6362rem;
  height: 1.1714rem;
  position: absolute;
  left: 2.0653rem;
  top: 0.7359rem;
  object-fit: contain;
  vertical-align: top;
}
.item--mGL .frame-45-NKJ .component-12-KLL .auto-group-tcde-gRn .jdk-11020windows-x64binexe-KUk {
  width: 25rem;
  height: 2rem;
  position: absolute;
  left: 0;
  top: 0.3708rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.4285714286;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.item--mGL .frame-45-NKJ .component-12-KLL .vector-50-pAc {
  width: 67.5795rem;
  height: 0;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item--mGL .frame-45-NKJ .component-13-y3W {
  width: 100%;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  flex-shrink: 0;
}
.item--mGL .frame-45-NKJ .component-13-y3W .auto-group-i6cp-vjS {
  width: 100%;
  height: 2.583rem;
  position: relative;
  flex-shrink: 0;
}
.item--mGL .frame-45-NKJ .component-13-y3W .auto-group-i6cp-vjS .rectangle-169-HK6 {
  width: 67.5795rem;
  height: 2.583rem;
  position: absolute;
  left: 0.2156rem;
  top: 0;
  background-color: #ffffff;
}
.item--mGL .frame-45-NKJ .component-13-y3W .auto-group-i6cp-vjS .attach-q5i {
  width: 0.6362rem;
  height: 1.1714rem;
  position: absolute;
  left: 2.0653rem;
  top: 0.7359rem;
  object-fit: contain;
  vertical-align: top;
}
.item--mGL .frame-45-NKJ .component-13-y3W .auto-group-i6cp-vjS .jdk-11020windows-x64binexe-xAL {
  width: 25rem;
  height: 2rem;
  position: absolute;
  left: 0;
  top: 0.3708rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.4285714286;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.item--mGL .frame-45-NKJ .component-13-y3W .vector-50-SLQ {
  width: 67.5795rem;
  height: 0;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item--mGL .frame-45-NKJ .component-14-Nzk {
  width: 100%;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  flex-shrink: 0;
}
.item--mGL .frame-45-NKJ .component-14-Nzk .auto-group-mant-Lgg {
  width: 100%;
  height: 2.583rem;
  position: relative;
  flex-shrink: 0;
}
.item--mGL .frame-45-NKJ .component-14-Nzk .auto-group-mant-Lgg .rectangle-169-ty6 {
  width: 67.5795rem;
  height: 2.583rem;
  position: absolute;
  left: 0.2156rem;
  top: 0;
  background-color: #ffffff;
}
.item--mGL .frame-45-NKJ .component-14-Nzk .auto-group-mant-Lgg .attach-dfn {
  width: 0.6362rem;
  height: 1.1714rem;
  position: absolute;
  left: 2.0653rem;
  top: 0.7359rem;
  object-fit: contain;
  vertical-align: top;
}
.item--mGL .frame-45-NKJ .component-14-Nzk .auto-group-mant-Lgg .jdk-11020windows-x64binexe-aL8 {
  width: 25rem;
  height: 2rem;
  position: absolute;
  left: 0;
  top: 0.3708rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.4285714286;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.item--mGL .frame-45-NKJ .component-14-Nzk .vector-50-fcU {
  width: 67.5795rem;
  height: 0;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}

/*파일 div영역*/
.item--mGL .frame-45-NKJ {
    margin: 0rem 39.02rem 0rem 36.384rem;
    box-sizing: border-box;
    padding-bottom: 0rem;
    width: 939px;
    align-items: center;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0.2403rem 0.2403rem rgba(0, 0, 0, 0.25);
    flex-shrink: 0;
}


/*파일 한줄한줄*/
.item--mGL .frame-45-NKJ .component-9-5zQ .auto-group-awon-EcQ .rectangle-169-msE {
	width: 93.5795rem;
    height: 2.583rem;
    position: absolute;
    left: 0.2156rem;
    top: 0;
    background-color: #ffffff;
    border-bottom: dashed 1px lightgray;
    display: flex;
    flex-direction: row;
    align-items: center;
}

/*파일 제목 글자*/
.item--mGL .frame-45-NKJ .component-9-5zQ .auto-group-awon-EcQ .jdk-11020windows-x64binexe-eAL {
    width: 25rem;
    height: 2rem;
    /* position: absolute; */
    /* left: 5rem; */
    /* top: 0.3708rem; */
    display: flex;
    align-items: center;
    margin-left: 50px;
    justify-content: flex-start;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.4285714286;
    color: #000000;
    font-family: Roboto, 'Source Sans Pro';
    white-space: nowrap;
}